footer {
    background-color: var(--gris-noir);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo {

    width: 50px;
    margin-left: 135px;
    margin-bottom: 1px;
}



.footer__billetterie {
    margin-top: var(--space1x);
    color: inherit;
    color: var(--black);
    font-size: var(--footer);
    font-family: var(--readex);
    margin-bottom: var(--space1x);
}

.footer__contact {
    color: inherit;
    color: var(--black);
    font-size: var(--footer);
    font-family: var(--readex);
    margin-bottom: var(--space1x);
}

.icone-footer1 {
    width: 20px;
    margin-left: 120px;

}

.icone-footer2 {
    width: 20px;
    margin-left: 120px;

}