.footer {
    width: 375px;
    height: 485px;
    background-color: beige;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    background-image: url('/src/assets/icones/logo zhd.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.texte-footer {
    font-family: Mulish, sans-serif;
    font-size: 11px;
    margin-bottom: 10px;
}

.texte-footer-bold {
    font-weight: bold;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.social-icons img {
    width: 20px;
    height: 20px;
}