* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style: none;

}


.format {
    width: 375px;
    height: 2953px;
    background: var(--Beige, #F9F8F2);
}

.header {
    width: 375px;
    height: 80px;
    flex-shrink: 0;
    background: var(--Beige, #F9F8F2);
}

.logo-zhd {
    display: flex;
    width: 57px;
    height: 53px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.menu-open {
    width: 24px;
    height: 15px;
    flex-shrink: 0;
}

.image-heyiv {
    width: 329.86px;
    height: 439.813px;
    flex-shrink: 0;
    background: url(/src/assets/img/iltun-huseynli-Vk5ub76oV4k-unsplash\ 1.png), lightgray 50% / cover no-repeat;

}

.texte-desc {
    width: 251.527px;
    height: 24.366px;
    flex-shrink: 0;
    color: #000;
    font-family: Neucha;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 32px */
}

.titre {
    width: 374.7px;
    height: 153px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Neucha;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 51.2px */
}